@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@layer base {
  :root {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    /* scrollbar-width: none; */
  }
}

@theme {
  --color-primary: #faf7f2;
  --color-secondary: #d7c4ac;
  --color-accent: #000;
}

@layer components {
  button {
    @apply cursor-pointer;
  }

  img {
    @apply object-cover w-full h-full;
  }

  li {
    @apply list-none cursor-pointer;
  }

  .navHover {
    @apply w-4 h-4 md:w-5 md:h-5 transition-transform duration-400 group-hover:rotate-180;
  }

  .borderNavList {
    @apply pointer-events-none absolute left-0 bottom-0 h-[2px] w-1/2 origin-left scale-x-0 bg-red-100;
  }

  .borderNavList2 {
    @apply pointer-events-none absolute left-0 bottom-0 h-[2px] w-1/2 origin-left scale-x-0 bg-accent;
  }

  .container-img-architecture {
    @apply h-full w-full flex flex-col;
  }

  .img-architecture {
    @apply w-96 h-100 object-cover md:h-140 md:w-140 cursor-pointer hover:scale-99 will-change-transform;
  }

  .title-architecture {
    @apply pt-5 font-medium text-start md:text-center md:text-lg lg:pt-0 lg:text-base lg:text-start lg:after:content-[':'];
  }

  .desc-architecture {
    @apply text-sm text-accent/70 md:text-base md:text-center md:px-15 lg:px-0 lg:text-start;
  }
}
